
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNav">
        <ul class="navbar-nav">
          <h4>Social Network App</h4>
          <li class="nav-item">
            <div>
            <a class="nav-link" routerLink="/feed">Feed</a>
          </div>
          <div>
            <a class="nav-link" routerLink="/account" (click)="personalAccount()" >Account Page</a>
          </div>
          </li>
          <button class="btn btn-outline-danger" id="logout-btn" (click)="logout()">Logout</button>
        </ul>
      </div>
    </div>
  </nav>
