


<div>
    <button (click)="decrementPage()">Previous Page</button>
    <span>{{page}}</span>
    <button (click)="incrementPage()">Next Page</button>
</div> 
<div *ngFor="let post of postList" class="post-item">
    <!-- <app-posts [post]={{post}}></app-posts> -->
    <div id="info-container">
        <div class="card">
            <div class="card-header">
                <div>
                    <img src={{post.user.user_img}} alt="userImg" width=50px>
                    <h5>{{post.user.username}}</h5>
                </div>
                <div>
                    {{post.post_created}}
                </div>
                    
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="description" id="postimg">
                        <img id="postImage" src= {{post.post_img}} alt="postImg">
                    </div>
                    <div class="description">
                        <textarea id="description" disabled> {{this.post.post_description}} </textarea> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pageSelector"></div>
