<div id="info-container">
    <div class="card">
        <div class="card-header">
                <img src="https://hello-s3-js.s3.us-west-1.amazonaws.com/project/JimboBagginsProfileImg" alt="testImg" width=50px>
                <h5>User Full name goes here</h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="description" id="postimg">
                    <img src="https://hello-s3-js.s3.us-west-1.amazonaws.com/project/JimboBagginsProfileImg" alt="testImg">
                </div>
                <div class="description">
                    <textarea id="description" disabled> put description here </textarea> 
                </div>
            </div>
        </div>
    </div>
</div>

<div id="info-container">
    <div class="card">
        <div class="card-header">
                <img src="https://hello-s3-js.s3.us-west-1.amazonaws.com/project/JimboBagginsProfileImg" alt="testImg" width=50px>
                <h5>User Full name goes here</h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="description" id="postimg">
                    <img src="https://hello-s3-js.s3.us-west-1.amazonaws.com/project/JimboBagginsProfileImg" alt="testImg">
                </div>
                <div class="description">
                    <textarea id="description" disabled> put description here </textarea> 
                </div>
            </div>
        </div>
    </div>
</div>