#info-container {
    margin-left: 10%;
}

/* .center-please {
    display: flex;
    justify-content: center;
} */

.card {
    box-shadow: 4px 4px 4px rgb(78, 78, 78);
    margin-top: 5px;
    width: 90%;
}

.card-header {
    display: flex;
    justify-content: center;
}

.card-text div{
    padding: 4px;
    border-radius: 8px;
    background-color: rgb(197, 197, 197);
    margin: 4px;
}

.buttons{
    justify-content: right;
}

body {
    background-color: rgb(158, 154, 154)!important;
}
