
<div id="info-container">
    <div class="card">
        <div class="card-header">
            <h5>User Full name goes here</h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="description">
                    <span>username: </span>
                    <input type="text" id="username" placeholder="add variable here"/> 
                </div>
                <div class="description">
                    <span>password: </span>
                    <input type="text" id="password" placeholder="Please enter a password"/> 
                </div>
                <div class="description">
                    <span>firstname: </span>
                    <input type="text" id="firstname" placeholder="add variable here"/> 
                </div>
                <div class="description">
                    <span>lastname: </span>
                    <input type="text" id="lastname" placeholder="add variable here"/> 
                </div>
                <div class="description">
                    <span>email: </span>
                    <input type="text" id="email" placeholder="add variable here"/> 
                </div>
                <div class="description">
                    <span>profile picture: </span>
                    <input type="file" id="profile picture"/> 
                </div>
            </div>
                <button type="button" id="type" class="btn btn-secondary" onclick="makeReimbursment()">Accept</button>
        </div>
    </div>
</div>